* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  font-size: 50px;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#calculator {
  display: flex;
  flex-direction: column;
  border: 2px gray solid;
  padding: 15px;
  gap: 20px;
}

button {
  width: 100px;
}

#display {
  height: 100px;
  border: 2px gray solid;
  width: 442px;
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
  overflow: hidden;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.digits-class {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ops-class {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
